<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script defer src="../vue.js"></script>
    <script src="../sdk.js" defer></script>
    <script src="../vue.js" defer></script>
    <script type="module" src="app.js"></script>
  </head>
  <body>
    <!-- <section id="app">
      <ul>
        <li v-for="(value,key) in options">
          <input
            type="checkbox"
            v-model="value"
            :name="key"
            :id="key"
            @click="toggle(key)"
          />  
          <label :for="key">{{key}}</label>
        </li>
      </ul>
      <button @click="saveMeta">Save</button>
    </section> -->
    <script>
      // window.parent.location.replace("https://www.google.com");
    </script>
  </body>
</html>
